body{
    background-color: yellow;
    
}
p{
    color:darkblue;
}
.container{
    width:100%;
    height:600px;
    border:2px solid black;
}
.row{
    width:80%;
    height:600px;
    border:2px solid red;
    margin:0 8% 0 8%;
}
.col{
    width:100%;
    height:300px;
    border:2px solid green;
   
}
@media screen and (min-width:768px){
    body{
        background-color: red;

    }
    p{
        color:yellow
    }
    .col{
        width:48%;
        float:left;
        height:600px;
    }
    
}
@media screen and (min-width:992px){
    body{
        background-color: rgb(146, 31, 146);
    }
    p{
        color:white;
    }
}
@media print{
    body{
        background-color: white;
    }
}