.container{
    width:400px;
    height:400px;
    border:2px solid red;
}
.box1{
    width:100px;
    height:100px;
    background-color: purple;
}
.box2{
    
    width:100px;
    height:100px;
    background-color: black;
}
.box1:hover{
    transform:scale(1.5)
}
.box2:hover{
    transform: scale(1.5,2)
   
}
.box3{    
    width:100px;
    height:100px;
    background-color: green;
}
.box3:hover{
    transform: skew(45deg,60deg);
}
.box4{
    width:100px;
    height:100px;
    background-color: red;
   
}
.box4:hover{
    transform: translate(50px) rotate(45deg) skew(30deg)
}
