.container
{
    width:400px;
    height:400px;
    border:2px solid red;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation: myrotate 2s infinite;
    
}

@keyframes myrotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotateY(90deg) scale(0.5);
        background-color: red;
    }
    75%{
        transform: rotateX(270deg);
        border-radius: 50%;
        background-color: blue;
    }
    100%{
        transform: rotate(360deg);
        background-color: green;
    }

    
}